

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">  
    <div class="item active">
        <%= link_to (image_tag @most_popular[0].cover_photo.url(:carousel), alt: "Picture"), @most_popular[0] %>
    
      <div class="container">
        <div class="carousel-caption">
          <h1><%= link_to @most_popular[0].title, @most_popular[0], class: 'link-white' %></h1>
          <p><%= @most_popular[0].excerpt  %></p>
        </div>
      </div>
    </div>
    <div class="item">
<%= link_to (image_tag @most_popular[1].cover_photo.url(:carousel), alt: "Picture"), @most_popular[1] %>      <div class="container">
        <div class="carousel-caption">
          <h1><%= link_to @most_popular[1].title, @most_popular[1], class: 'link-white' %></h1>
          <p><%= @most_popular[1].excerpt  %></p>
        </div>
      </div>
    </div>
    <div class="item">
<%= link_to (image_tag @most_popular[2].cover_photo.url(:carousel), alt: "Picture"), @most_popular[2] %>      <div class="container">
        <div class="carousel-caption">
          <h1><%= link_to @most_popular[2].title, @most_popular[2], class: 'link-white' %></h1>
          <p><%= @most_popular[2].excerpt  %></p></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->