<div class="container-fluid">
  <h1>NEWS</h1>
  <%= render 'carousel' %>



<!--   <%= search_form_for @search, url: search_articles_path, method: :post do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
    <% end %>
    <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
    <div class="field">
      Sort:
      <%= f.sort_fields do |s| %>
        <%= s.sort_select %>
      <% end %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %> -->



  <% @articles.order(created_at: :desc).each do |article| %>
    <div class="row">
      

          <div class="col-sm-8">
            <h2><%= link_to article.title, article, class: "article-title" %></h2> 
            <%= render article.author %>

              <% if article.cover_photo.file? %>
                <%= link_to (image_tag article.cover_photo.url(:small), class: 'img-round'), article  %>
              <% end %>
            

              
            <h4><%= article.excerpt %></h4> 

            <p><strong>Category: </strong>
              <% article.categories.each do |c| %>
                <%= c.name %>
              <% end %>
            </p> 

            <h5><%= pluralize(article.comments.count, 'comment') %> </h5> 

        

              <% if current_user.try(:admin?) %>
                <%= link_to edit_article_path(article) do %>
                  <i class="fa fa-file-o fa-4x"></i>
                <% end %>
                <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                  <i class="fa fa-eraser fa-4x space-in-between"></i>
                <% end %>
              <% end %>
              
          </div>
          
            </div> <!-- .row -->
  <% end %>
</div> <!-- .container -->
<% content_for :aside do %>
  <%= render 'search_sidebar' %>
  <%= render 'social' %>
  <%= render 'most_faved' %>
  <%= render 'most_commented' %>
  <%= render 'sidebar_popular' %>
<% end %>