<h1>New article</h1>

<%= render 'form' %>

<button type="button" class="btn btn-warning btn-xs"><%= link_to 'Back', articles_path %></button>

<% content_for :aside do %>
  <%= render 'articles/social' %>
  <%= render 'articles/most_commented' %>
  <%= render 'articles/sidebar_popular' %>
<% end %>