<main>
<h2>
  <!-- <h2>Title:</h2> -->
  <%= @article.title %>
</h2>
<%= render @article.author %>
<%= render @article.categories %>
<br \><br \>
<% if @article.cover_photo.file? %>
  <%= image_tag @article.cover_photo.url(:large) %>
<% end %>

<p>
  <!-- <h2>Text:</h2> -->
  <%= @article.content %>
</p>

<div class="row">



<% unless @pictures.empty? %>
  <% @pictures.each do |pic| %>
    <div class='col-sm-8'>
      <%= image_tag pic.image.url %>
      <div class="caption">
        <p style="text-align: center;">
        <%= link_to "Edit", picture_path(pic) %>

        <%= 
          link_to "Delete", pic, 
            :data => { :confirm => "Are you sure?" }, 
            :method => :delete 
          %>

        </p>
      </div>
    </div>
    
  <% end %>
<% end %>

</div>







<h3>Comments</h3>
<%= render @article.comments %>

<h4>Add a comment:</h4>
<%= render "comments/form" %>

<% unless current_user.favorite_articles.exists?(id: @article.id) %>
  <%= link_to favorite_articles_path(article_id: @article), method: :post do %>
  <button type="button" class="btn btn-success">Add to favorites</button>
  <% end %>
<% else %>
  <%= link_to favorite_article_path(@article), method: :delete do %>
  <button type="button" class="btn btn-danger">Remove from favorites</button>
  <% end %>
<% end %>

<%= link_to articles_path do %>
    <button type="button" class="btn btn-warning">Back to Articles</button> 
<% end %>



<% if current_user.try(:admin?) %>   
  <%= link_to  edit_article_path(@article) do %>
    <button type="button" class="btn btn-info">Edit</button>
  <% end %>
  <%= link_to @article, method: :delete, data: { confirm: 'Are you sure?' }  do %>
    <button type="button" class="btn btn-danger">Delete</button>
  <% end %>
<% end %>
  

</main>

<% content_for :aside do %>
  <%= render 'social' %>
  <%= render 'most_commented' %>
  <%= render 'sidebar_popular' %>
<% end %>