<main>
<h2>
  <!-- <h2>Title:</h2> -->
  <%= @article.title %>
</h2>
<% if @article.cover_photo.file? %>
  <%= image_tag @article.cover_photo.url(:large) %>
<% end %>

<p>
  <!-- <h2>Text:</h2> -->
  <%= @article.content %>
</p>

<div class="row">



<% unless @pictures.empty? %>
  <% @pictures.each do |pic| %>
    <div class='col-sm-8'>
      <%= image_tag pic.image.url %>
      <div class="caption">
        <p style="text-align: center;">
        <%= link_to "Edit", picture_path(pic) %>

        <%= 
          link_to "Delete", pic, 
            :data => { :confirm => "Are you sure?" }, 
            :method => :delete 
          %>

        </p>
      </div>
    </div>
    
  <% end %>
<% end %>

</div>
<h2>Category</h2>
<%= render @article.categories %>

<%= render @article.author %>



<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>





<% if current_user.try(:admin?) %>   
  <%= link_to  edit_article_path(@article) do %>
    <button type="button" class="btn btn-success btn-sm">Edit Article
    </button>
  <% end %>
  <%= link_to articles_path do %>
    <button type="button" class="btn btn-warning btn-sm">Back to Articles</button>
  <% end %>
<% end %>
</main>

<% content_for :aside do %>
  <%= render 'sidebar_popular' %>
  <%= render 'sidebar_categories' %>
<% end %>