<main>
<h2>
  <!-- <h2>Title:</h2> -->
  <%= @article.title %>
</h2>
<p>
  <h4>Excerpt:</h4>
  <%= @article.excerpt %>
</p>
<p>
  <!-- <h2>Text:</h2> -->
  <%= @article.content %>
</p>

<h2>Category</h2>
<%= render @article.categories %>



<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>



 
<%= link_to  edit_article_path(@article) do %>
  <button type="button" class="btn btn-success btn-sm">Edit Article
  </button>
<% end %>
<%= link_to articles_path do %>
  <button type="button" class="btn btn-warning btn-sm">Back to Articles</button>
<% end %>
</main>

<% content_for :aside do %>
  <%= render 'sidebar_popular' %>
  <%= render 'sidebar_categories' %>
<% end %>