<p id="notice"><%= notice %></p>
<h1>Stories by <%= @author.to_s %></h1><br>
<%= image_tag @author.author_photo.url(:large), class: "img-circle" %>




<%= render @author.articles %>

<%= link_to  edit_author_path(@author) do %>
  <button type="button" class="btn btn-success btn-sm">Edit Author
  </button>
<% end %>
<%= link_to authors_path do %>
  <button type="button" class="btn btn-warning btn-sm">Back to Authors</button>
<% end %>
