<h1>
  <%= @category.name %>
</h1>

<div class="row">
<div class="list-group">
  <h2 class="list-group-item">Articles:</h2>
  
    <% @category.articles.each do |article| %>
         <%= link_to article.title, article, class: "list-group-item" %>
    <% end %>
</div>  
</div>


<%= link_to  edit_category_path(@category) do %>
  <button type="button" class="btn btn-success btn-sm">Edit Category
  </button>
<% end %>
<%= link_to categories_path do %>
  <button type="button" class="btn btn-warning btn-sm">Back to Categories</button>
<% end %>

<% content_for :aside do %>
  <%= render 'articles/sidebar_popular' %>
  <%= render 'articles/sidebar_categories' %>
<% end %>