<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "1Canada1" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "1Canada1" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <header>
    
      <%= render 'layouts/navigation' %>
    </header>

   <!--  <div class="col-sm-2 blog-side-left">
      
    </div> -->

    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-8 main-content top-buffer">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div><!-- End of blog-main -->
       
    <div class="col-sm-4 blog-side-right top-buffer">
      <%= yield :aside %>
      <%= render 'layouts/user_manage'  %>
      <%= render 'articles/search_sidebar' %>
      <%= render 'articles/social' %>
      <%= render 'articles/most_faved' %>
      <%= render 'articles/most_commented' %>
      <%= render 'articles/sidebar_popular' %>
    </div>
   </div> <!-- end of row -->
      </main>

    <footer class="container">
      <div class="row">
        <section class="col-sm-4">
          Copyright 2014
        </section>
        <section class="col-sm-8">
          All rights reserved.
        </section>
      </div>
    </footer>
  </body>
</html>
